/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.container {
  --ifm-container-width: 900px;
}

.heroBanner {
  padding: 8rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: #0072c6;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 6vw), 0 100%);
}

html[data-theme='dark'] .heroBanner {
  color: #000;
}

.heroLogo img {
  width: 86%;
}

@media screen and (max-width: 996px) {
  .heroContent {
    order: 1;
  }

  .heroLogo img {
    width: initial;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100%;
}

.featureImageSecond {
  order: 2;
}

@media (max-width: 996px) {
  .featureDescCol {
    order: 2;
  }
}

.openCollective {
  border: 1px solid #dadde1;
  border-radius: 16px;
  margin-bottom: 20px;
  padding-left: 20px;
  text-align: center;
}
