/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: rgb(16, 117, 189);
  background: linear-gradient(145deg, rgba(16, 117, 189, 1) 0%, rgba(2, 127, 194, 1) 93%);
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  align-items: center;
  display: flex;
  height: 100%;
}

.featureImageSecond {
  order: 2;
}

.openCollective {
  border: 1px solid #dadde1;
  border-radius: 16px;
  margin-bottom: 20px;
  padding-left: 20px;
  text-align: center;
}
