/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@font-face {
  font-family: SegoeUI;
  src: local('Segoe UI Light'),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff2) format('woff2'),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff) format('woff'),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.ttf) format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: SegoeUI;
  src: local('Segoe UI Semilight'),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff2) format('woff2'),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff) format('woff'),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.ttf) format('truetype');
  font-weight: 200;
}

@font-face {
  font-family: SegoeUI;
  src: local('Segoe UI'),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2) format('woff2'),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff) format('woff'),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf) format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: SegoeUI;
  src: local('Segoe UI Bold'),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff2) format('woff2'),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff) format('woff'),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.ttf) format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: SegoeUI;
  src: local('Segoe UI Semibold'),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff2) format('woff2'),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff) format('woff'),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.ttf) format('truetype');
  font-weight: 700;
}

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #0072c6;
  --ifm-color-primary-dark: #0067b2;
  --ifm-color-primary-darker: #0061a8;
  --ifm-color-primary-darkest: #00508b;
  --ifm-color-primary-light: #007dda;
  --ifm-color-primary-lighter: #0083e4;
  --ifm-color-primary-lightest: #0294ff;
  --ifm-navbar-background-color: #004880;
  --ifm-navbar-link-color: #fff;
  --ifm-navbar-link-hover-color: var(--ifm-color-primary-lightest);
  --ifm-code-font-size: 95%;
  --ifm-font-weight-semibold: 600;
  --ifm-font-size-base: 16px;
  --ifm-font-family-base: 'SegoeUI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}
