/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@font-face {
  font-family: 'Segoe UI';
  src: url('/fonts/SegoeUI/SegoeUI-Light.eot');
  src: local('Segoe UI Light'), local('SegoeUI-Light'),
    url('/fonts/SegoeUI/SegoeUI-Light.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SegoeUI/SegoeUI-Light.woff') format('woff'), url('/fonts/SegoeUI/SegoeUI-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('/fonts/SegoeUI/SegoeUI-BoldItalic.eot');
  src: local('Segoe UI Bold Italic'), local('SegoeUI-BoldItalic'),
    url('/fonts/SegoeUI/SegoeUI-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SegoeUI/SegoeUI-BoldItalic.woff') format('woff'),
    url('/fonts/SegoeUI/SegoeUI-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('/fonts/SegoeUI/SegoeUI-SemiBold.eot');
  src: local('Segoe UI Semibold'), local('SegoeUI-SemiBold'),
    url('/fonts/SegoeUI/SegoeUI-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SegoeUI/SegoeUI-SemiBold.woff') format('woff'),
    url('/fonts/SegoeUI/SegoeUI-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('/fonts/SegoeUI/SegoeUI.eot');
  src: local('Segoe UI'), local('SegoeUI'), url('/fonts/SegoeUI/SegoeUI.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SegoeUI/SegoeUI.woff') format('woff'), url('/fonts/SegoeUI/SegoeUI.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('/fonts/SegoeUI/SegoeUI-Bold.eot');
  src: local('Segoe UI Bold'), local('SegoeUI-Bold'),
    url('/fonts/SegoeUI/SegoeUI-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SegoeUI/SegoeUI-Bold.woff') format('woff'), url('/fonts/SegoeUI/SegoeUI-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('/fonts/SegoeUI/SegoeUI-Italic.eot');
  src: local('Segoe UI Italic'), local('SegoeUI-Italic'),
    url('/fonts/SegoeUI/SegoeUI-Italic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SegoeUI/SegoeUI-Italic.woff') format('woff'),
    url('/fonts/SegoeUI/SegoeUI-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #0072c6;
  --ifm-color-primary-dark: #0067b2;
  --ifm-color-primary-darker: #0061a8;
  --ifm-color-primary-darkest: #00508b;
  --ifm-color-primary-light: #007dda;
  --ifm-color-primary-lighter: #0083e4;
  --ifm-color-primary-lightest: #0294ff;
  --ifm-navbar-background-color: #0072c6;
  --ifm-navbar-shadow: none;
  --ifm-navbar-link-color: #fff;
  --ifm-navbar-link-hover-color: var(--ifm-navbar-link-color);
  --ifm-code-font-size: 90%;
  --ifm-font-weight-semibold: 600;
  --ifm-font-size-base: 16px;
  --ifm-font-family-base: 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --ifm-heading-font-weight: 600;
  --ifm-hover-overlay: rgba(0, 0, 0, 0.04);
}

[data-theme='dark'] {
  --ifm-color-primary-light: #0089ee;
  --ifm-color-primary-lighter: #0294ff;
  --ifm-color-primary-lightest: #3eadff;
  --ifm-breadcrumb-color-active: var(--ifm-color-primary-lightest);
  --ifm-link-color: var(--ifm-color-primary-lightest);
  --ifm-menu-color-active: var(--ifm-color-primary-lightest);
}

[data-theme='dark'] .table-of-contents__link:hover,
[data-theme='dark'] .table-of-contents__link:hover code,
[data-theme='dark'] .table-of-contents__link--active,
[data-theme='dark'] .table-of-contents__link--active code {
  color: var(--ifm-color-primary-lightest);
}

[data-theme='light'] .DocSearch-Button-Placeholder {
  color: var(--docsearch-text-color);
}

/* color mode toggle styling  */
.navbar button[title*='light mode'] {
  color: #fff;
}

.navbar button[title*='light mode']:hover {
  background: rgb(255, 255, 255, 0.2);
}

/* highlighted lines in codeblocks. Example: highlight line 3 using ```powershell {3} */
.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

/* navbar styling */
.menu__link,
.navbar__brand strong {
  font-weight: 400;
}
.navbar__brand {
  font-size: 19px;
}

.navbar__link:hover {
  text-decoration: underline;
}
.navbar-sidebar .menu__link,
.navbar-sidebar__back,
.navbar__toggle {
  color: #fff;
}

.navbar-sidebar__close g {
  stroke: rgb(255, 255, 255, 0.7);
}

table {
  display: table;
}

.table-wrapper {
  overflow-x: auto;
}

@media only screen and (max-width: 768px) {
  .hero .hero__title {
    font-size: 36px;
    text-align: center;
  }
}

@media (max-width: 996px) {
  .footer .row .col.col.col {
    flex: 1 0 !important;
  }
}

/* Make sure content isn't being covered by camera notch or UI elements on mobile */
@supports(padding: max(0px)) {
  .navbar {
    padding-top: max(var(--ifm-navbar-padding-vertical), env(safe-area-inset-top));
    padding-right: max(var(--ifm-navbar-padding-horizontal), env(safe-area-inset-right));
    padding-bottom: max(var(--ifm-navbar-padding-vertical), env(safe-area-inset-bottom));
    padding-left: max(var(--ifm-navbar-padding-horizontal), env(safe-area-inset-left));
  }

  .main-wrapper {
    padding-top: max(0, env(safe-area-inset-top));
    padding-right: max(0, env(safe-area-inset-right));
    padding-bottom: max(0, env(safe-area-inset-bottom));
    padding-left: max(0, env(safe-area-inset-left));
  }

  footer {
    padding-top: max(var(--ifm-footer-padding-vertical), env(safe-area-inset-top));
    padding-right: max(var(--ifm-footer-padding-horizontal), env(safe-area-inset-right));
    padding-bottom: max(var(--ifm-footer-padding-vertical), env(safe-area-inset-bottom));
    padding-left: max(var(--ifm-footer-padding-horizontal), env(safe-area-inset-left));
  }
}
